#map {
  width: 100%;
  height: 100vh;
}

.custom {
  position: absolute;
  padding: 2px;
  background: rgba(255,255,255,0.8);
}

.ol-popup {
  background: rgb(255,255,255, 0.8);
  padding: 5px;
  border-radius: 3px;
}

#popup-content {
  font-size: 10px;


}

::ng-deep .custom-attribution {
  @extend .custom;
  bottom: 0;
  left: 0;
  font-size: 11px;
  ul {
    margin: 0;
    padding: 0;
  }
  button {
    display: none;
  }
}


p {
  margin: 0;
}
