@import "../../../../assets/variable/color";

.toolbar {
  height: 100%;
  display: flex;
  background: #F8F8F8;

  &__tools {
    border: 1px solid $border;
  }

  &__add-item {
    display: flex;
    align-items: center;
  }

  &--cube {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;

    mat-icon {
      font-size: 40px;
      width: 40px;
      height: 40px;
      color: $primary;
    }
  }

  &--cube:nth-child(3) {
    border-bottom: 1px solid $primary;
  }

  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: $primary;
    cursor: pointer;

    mat-icon {

      color: white;
      font-size: 40px;
      width: 40px;
      height: 40px;
    }
  }

  &__add {

    &--back {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 20px 10px 7px;
      color: $primary;
      border-bottom: 1px solid $border;
      background: white;

      h2 {
        margin: 0 0 0 5px;
      }

      mat-icon {
        font-size: 30px;
        width: 30px;
        height: 30px;
        color: $primary;
        cursor: pointer;
      }
    }

    &--instruction {
      padding: 10px 10px 10px 7px;
      border-bottom: 1px solid $border;
      background: white;

      p {
        color: $primary;
        font-weight: 500;
      }

      span {
        color: grey;
      }
    }

    &--inputs {
      display: flex;
      flex-direction: column;
      padding: 10px 10px 10px 7px;
      background: white;
      border-bottom: 1px solid $border;

      p {
        color: $primary;
        font-weight: 500;
      }

      div {
        display: flex;
        justify-content: space-between;
        button {
          background: $accent;
          padding: 10px 20px;
          border: 0;
          border-radius: 3px;
          color: white;

        }
      }
    }
  }
}
