<section class="toolbar">
  <div class="toolbar__tools">
    <div class="toolbar--cube">
      <mat-icon>navigation</mat-icon>
    </div>
    <div class="toolbar--cube">
      <mat-icon>add</mat-icon>
    </div>
    <div class="toolbar--cube">
      <mat-icon>remove</mat-icon>
    </div>
    <div class="toolbar--center" (click)="isAdd === false ? isAdd = true : addPoint()">
      <mat-icon>add_to_photos</mat-icon>
    </div>
  </div>
  <div class="toolbar__add" *ngIf="isAdd">
    <div class="toolbar__add--back">
      <mat-icon (click)="isAdd = false">arrow_back</mat-icon>
      <h2>Przepływomierz</h2>
    </div>
    <div class="toolbar__add--instruction">
      <p>Instrukcja</p>
      <span>Wypełnij dane i kliknij przycisk zatwierdż. Następnie wybierz punkt na mapie</span>
    </div>
    <form class="toolbar__add--inputs" [formGroup]="locationForm" (ngSubmit)="onSubmit()">
      <p>Dodaj nowy przepływomierz</p>
      <mat-form-field>
        <mat-label>Nazwa</mat-label>
        <input matInput formControlName="name" placeholder="Nazwa">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Typ</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let val of data" [value]="val">
            {{val}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Średnia wartość Przepływu [m3/dzień]</mat-label>
        <input matInput formControlName="average" type="number" placeholder="Średnia wartość Przepływu [m3/dzień]" value="Sushi">
      </mat-form-field>
      <div>
        <button type="button" (click)="clear()">Wyczyść</button>
        <button>Zatwierdż</button>
      </div>
    </form>
  </div>
</section>
